{
  "extends": ["react-app", "airbnb", "plugin:jest/recommended", "prettier"],
  "plugins": ["react", "jest", "import"],
  "rules": {
    "no-unused-vars": 1,
    "import/prefer-default-export": 0,
    "jsx-a11y/href-no-hash": 0,
    "react/no-did-mount-set-state": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "global-require": 0
      }
    }
  ]
}
